form {
    text-align: center;
}

.form__labelText {
    width: 100%;
    display: inline-block;
    margin: 10px auto 5px;
    font-weight: bold;
}

.form__field {
    border: 3px solid #9CB7A6;
    padding: 5px;
    border-radius: 10px;
    width: 120px;
    background: rgba(245, 245, 248, 0.884);
    text-align: center;

}

.form__button {
    border: 3px solid #e28f89;
    padding: 5px;
    border-radius: 10px;
    width: 120px;
    background: #F5B5B0;
    font-weight: bold;
    margin: 20px auto 5px;
}

.form__button:hover {
    background: #fccfcc;
}

.form__button:active {
    background: #a8807d;
}

.form__paragraph {
    width: 100%;
    display: inline-block;
    margin: 10px auto;
    font-weight: bold;
}